body{
overflow-x:hidden;
}

.btn{
margin-left: 3px;
}

.countdown_amount{
  font-size: 48pt;
  color: white;
}

#pomodoro-timer {
  padding: 5px 10px 5px 10px;
  background-color: #e74c3c;
  text-align: center;
  margin-bottom: 10px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
#timer-controls{
  text-align:center;
}